@charset  "UTF-8";

/* typycal device breakepointes
-------------------------------
Small (mobile)	0px – 767px
Medium (tablet)	768px – 1023px
Large (desktop)	1024px – 1279px
XL (large desktop)	1280px+
 */

 @media screen and (min-width: 768px) and (max-width: 1023px) { 
     /* styles para tablet */
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    
    section#login {
        width: 80vw;
        height: 350px;
    }
    div#form h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    }
     
    div#form p {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
    }

    
    section#login > div#image {
        float: right;
        height: 100%;
        width: 30%;

    }

    section#login > div#form {
        float: left;
        width: 70%;

    }

 }
@media screen and (min-width: 1024px) {
    /* styles para desktop */
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
     
    section#login {
        width: 950px;
        height: 350px;
    }
    div#form h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    }

    div#form p {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
    }
    main > section#login > div#image {
        float: left;
        height: 100%;
        width: 50%;
    }
    main > section#login > div#form {
            float: right;
            width: 50%;
    }
}