@charset  "UTF-8";

/* typycal device breakepointes
-------------------------------
Small (mobile)	0px – 767px
Medium (tablet)	768px – 1023px
Large (desktop)	1024px – 1279px
XL (large desktop)	1280px+
 */

 @media screen and (min-width: 768px) and (max-width: 1023px) {
     /* styles para tablet */
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
     }
    
     main > section#login {
        width: 80vw
     }
     
    main > section#login > div#image {
        float: right;
        height: 100%;
        width: 40%;

    }

    main > section#login > div#form {
        float: left;
        width: 60%;

    }
}

@media screen and (min-width: 1024px) {
    /* styles para desktop */
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
     }
     
     main > section#login {
        width: 950px;
     }

     main > section#login > div#image {
        float: right;
        height: 100%;
        width: 50%;
     }
        main > section#login > div#form {
            float: left;
            width: 50%;
        }
}